@import './base/_reset.scss';
@import './base/_typography.scss';
@import './base/_colours.scss';
@import './base/_animation.scss';
@import './base/_mediaqueries.scss';

// root styling

.success {
  display: none;
}

:root {
  font-size: 14px;

  @include xxs {
    font-size: 16px;
  }
}

body {
  overflow: hidden;
  // margin-top: 20px;
  // padding: env(safe-area-inset-top) env(safe-area-inset-right)
  //   env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.appMain {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

button:disabled {
  opacity: 0.6;
}

// header

.appbar {
  background-color: $darkGreen;
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
  z-index: 1;
  width: 100vw;

  @include ls {
    display: none;
  }

  @include xxs {
    @supports (-webkit-touch-callout: none) {
      /* CSS specific to iOS devices */
      height: 70px;
      padding-bottom: 10px;
    }
    height: 60px;
  }

  button {
    @extend .reset-Button;
  }

  &__logo {
    width: 150px;
    padding: 10px;

    @supports (-webkit-touch-callout: none) {
      margin-top: 40px;
    }
  }
}

// header

// camera

.cameracontainer {
  background-color: darken($color: $grey, $amount: 20%);
  height: 100vh;
  &__capturedimage {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.7;
    // margin-top: -20px;
  }

  &__cameravideo {
    height: 100vh;
    width: 100vw;
    object-fit: cover;

    &--noheight {
      height: 0px;
    }
  }
}

// camera

// controlbar

.controls {
  background-color: $lightGreen;
  border-radius: 60px 0px 60px 60px;
  padding: 10px 10px 10px 10px;
  // height: 40px;
  max-height: 40px;
  width: calc(100vw - 40px);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // justify-content: center;
  box-shadow: -1px -3px 7px rgba(0, 0, 0, 0.2);
  transition: max-height 0.3s ease-in, border-radius 0.3ms ease-in;
  overflow: hidden;

  @include xxs {
    // height: 60px;
    max-height: 60px;
  }

  .buttoncontroller {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px 0px 20px;
  }

  &.controls--expanded {
    border-radius: 45px 0px 5px 5px;
    height: auto;
    max-height: 999px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    // padding: 10px 10px 10px 10px;
    // width: calc(100vw - 40px);
    flex-wrap: wrap;
    // justify-content: space-between;
    z-index: 3;
    transition: max-height 0.3s ease-in, border-radius 0.3ms ease-in;
  }

  &__capturebtn {
    @extend .reset-Button;
    background-color: $white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    align-self: center;
    @include xxs {
      height: 56px;
      width: 56px;
    }

    &--disabled {
      opacity: 0.4;
    }
  }

  &__helpbtn {
    border-radius: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    @extend .reset-Button;
    img {
      height: 27px;

      @include xxs {
        height: 35px;
        // width: 56px;
      }
    }
  }

  &__flashbtn {
    @extend .reset-Button;
    border-radius: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    img {
      height: 27px;

      @include xxs {
        height: 35px;
        // width: 56px;
      }
    }
  }
}

.response {
  margin: 10px 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(8, 1fr);
  // grid-template-rows: 50px repeat(2, 50px) repeat(4, 1fr) 55px;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  width: 100%;

  @include xxs {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  &__prediction {
    grid-area: 1 / 1 / 2 / 6;
    background-color: $white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    // box-shadow: 0px 2px 5px $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      @include font-brandon-grotesque(em(22), $grey, 500);
    }
  }

  &__map {
    grid-area: 4 / 1 / 8 / 6;
    background-color: $white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px $grey;

    .info {
      &__title {
        @include font-roboto-slab(em(16), $purple, 500);
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      &__type {
        @include font-roboto-slab(em(14), #707070, 500);
        display: inline-block;
        margin-bottom: 5px;
      }

      &__address {
        @include font-roboto-slab(em(14), #707070, 500);
        display: inline-block;
        margin-bottom: 5px;
      }
    }

    .map__title {
      @include font-roboto-slab(em(18), #707070, 500);
      border-bottom: $pink 2px solid;
      padding: 5px;
      display: inline-block;
      margin-bottom: 10px;
    }

    .map__container {
      height: 150px;

      @include xxs {
        height: 200px;
      }
    }
  }

  &__recyclable {
    background-color: $purple;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    // box-shadow: 0px 2px 5px $grey;
    grid-area: 2 / 1 / 4 / 4;
    display: flex;
    align-items: center;
    justify-items: center;
    line-height: 1.2;

    p {
      @include font-brandon-grotesque(em(25), $white, 500);
      font-size: 6vw;
      width: 100%;
      display: block;
      text-align: center;
    }

    span {
      @include font-brandon-grotesque(em(19), $white, bold);
      text-align: center;
      width: 100%;
      // display: block;
    }
  }

  &__location {
    background-color: $white;
    border-radius: 10px;
    padding: 10px;
    // box-shadow: 0px 2px 5px $grey;
    grid-area: 2 / 4 / 4 / 6;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 5px;
    }

    p {
      @include font-roboto-slab(em(18), #707070, 500);
      text-align: center;
    }
  }

  &__btn {
    @extend .reset-Button;
    background-color: $white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px $grey;

    &--bottomfirst {
      // grid-area: 8 / 2 / 8 / 1;
      grid-column-start: 1;
    }

    &--bottomsecond {
      // grid-area: 8 / 2 / 8 / 3;
      grid-column-start: 2;
    }

    &--bottomthird {
      // grid-area: 8 / 3 / 8 / 6;
      grid-column-start: 3;
      grid-column-end: 6;
      background-color: $pink;
      color: $white;
      @include font-roboto-slab(em(16), $white, 500);
      text-decoration: none;
      text-align: center;

      img {
        width: 80px;
        vertical-align: unset;
      }
    }
  }

  &.response--unknown {
    .response__recyclable {
      grid-area: 2 / 1 / 4 / 6;
      text-align: center;

      p {
        @include font-brandon-grotesque(em(16), $white, 500);
        font-size: 6vw;

        @include xxs {
          @include font-brandon-grotesque(em(25), $white, 500);
        }
      }

      span {
        @include font-brandon-grotesque(em(18), $white, bold);

        @include xxs {
          @include font-brandon-grotesque(em(21.5), $white, bold);
        }
      }
    }

    .response__btn--bottomthird {
      grid-column-start: 2;
    }
  }
}

// controlbar

// form

.return {
  @extend .reset-Button;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 22px;

  @supports (-webkit-touch-callout: none) {
    top: 40px;
  }

  img {
    height: 20px;
  }
}

.contactpage {
  background-color: $darkGreen;
  padding-top: 10vh;
  height: 90vh;
  width: 100vw;

  &__container {
    background-color: $white;
    width: calc(90vw - 40px);
    margin-left: 5vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px $grey;
  }

  &__title {
    background-color: $purple;
    @include font-brandon-grotesque(em(16), $white, bold);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px $grey;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 1.1px;
    margin-bottom: 20px;

    img {
      height: 12px;
      margin: 0px 5px;
      vertical-align: unset;
    }

    span {
      @include font-brandon-grotesque(em(28), $white, regular);
      display: block;
    }
  }
}

.form {
  input,
  textarea {
    width: calc(100% - 20px);
    background-color: $white;
    border: unset;
    // border-radius: 5px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(166, 197, 189, 0.73);
    margin-bottom: 20px;
    padding: 10px 10px;
    height: 200px;

    &:focus {
      border: 1px solid $darkGreen;
    }

    &::placeholder {
      @include font-brandon-grotesque(em(18), $lightGreen, 600);
    }
  }

  input {
    height: 40px;
  }

  label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  &__btn {
    @extend .reset-Button;
    background-color: $pink;
    border-radius: 10px;
    padding: 10px;
    @include font-roboto-slab(em(20), $pureWhite, 500);
    margin: 0 auto;
    display: block;
    width: 50vw;
  }
}
// help

.help,
.knows {
  flex-basis: 100%;
  background-color: $white;
  border-radius: 10px;
  padding: 20px 20px;
  margin-top: 15px;
  height: 18px;
  max-height: 20px;
  overflow: hidden; // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  transition: max-height 1s ease-out;

  &--expandedtrue {
    height: auto;
    max-height: 100vh;
    overflow: auto;

    button img:first-of-type {
      transform: rotate(180deg);
    }
  }

  &__title {
    @include font-brandon-grotesque(em(22), $purple, bold);
    // flex-basis: 100%;
    // margin-bottom: 5px;
    width: 88%;
    display: inline-block;
  }

  img {
    // flex-basis: 20%;
    margin-top: 20px;
    margin-right: 15px;
    width: 15%;
    display: inline-block;
  }

  &__btn {
    display: inline-block;
    width: 10%;
    @extend .reset-Button;

    .btn__image {
      width: unset;
      margin: unset;
      display: unset;
    }
  }

  p {
    width: calc(85% - 15px);
    display: inline-block;
    margin-top: 20px;
    @include font-roboto-slab(em(18), $grey, 500);
    line-height: 1.3;
    vertical-align: middle;
  }
}

.knows img {
  margin-right: unset;
  margin-left: 15px;
}

// animation
// variables
$dashOffsetStart: 800;
$dashOffsetEnd: 0;

// animation mixins

@include keyframes(loading) {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(1) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@include keyframes(stroke-draw) {
  from {
    stroke-dashoffset: $dashOffsetStart;
    fill-opacity: 0;
  }
  65% {
    fill-opacity: 1;
  }

  to {
    stroke-dashoffset: $dashOffsetEnd;
    fill-opacity: 1;
  }
}

.loader {
  position: absolute;
  top: 40%;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include animation(
    loading,
    2.3s,
    3s,
    infinite,
    cubic-bezier(0.785, 0.135, 0.15, 0.86)
  );

  path {
    stroke: $pink;
    fill: $pink;
    fill-opacity: 0;
    stroke-width: 0.5;
    stroke-dasharray: $dashOffsetStart;
    stroke-dashoffset: $dashOffsetStart;
    @include animation(stroke-draw, 0s, 3s, infinite, ease-in-out);
  }
}

#arrow-bottom path {
  animation-delay: 0.5s;
}

#arrow-side path {
  animation-delay: 1s;
}

@media (orientation: landscape) {
  .controls {
    justify-content: center;
    max-height: unset;
    width: 60px;
    height: calc(100vh - 60px);
    flex-direction: column-reverse;
    border-radius: 0px 60px 60px 60px;
    padding: 20px 10px 20px 10px;
    transform: unset;
    left: calc(100% - 95px);
    bottom: 10px;

    .buttoncontroller {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      // flex-direction: column-reverse;
      height: 100%;
      width: 60px;
      padding: 0px 20px 0px 0px;

      .controls__helpbtn {
        align-self: end;
      }

      .controls__flashbtn {
        align-self: flex-end;
      }
    }

    &.controls--expanded {
      flex-direction: initial;
      border-radius: 0px 5px 5px 50px;
      height: calc(100vh - 60px);
      padding: 20px 10px 20px 10px;
      width: auto;
      transform: unset;
      right: 1%;
      left: unset;
      flex-wrap: nowrap;
      bottom: 10px;

      &.controls--expandedls {
        flex-wrap: wrap;
        // flex-direction: column;
      }

      .controls__capturebtn {
        align-self: unset;
      }

      .buttoncontroller {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // flex-direction: column-reverse;
        height: 100%;
        width: 60px;
        padding: 0px 0px 0px 0px;

        .controls__helpbtn {
          align-self: end;
        }

        .controls__flashbtn {
          align-self: flex-end;
        }

        button {
          margin: 0px;
        }
      }
    }
  }

  .contactpage {
    height: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .cameracontainer__capturedimage {
    margin-top: -15px;
  }

  .response {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px repeat(2, 1fr) 55px 55px;
    height: calc(100vh - 60px);
    margin: 0px 0px 0px 10px;
    width: auto;
    grid-column-gap: 7px;
    grid-row-gap: 7px;

    @include sm-landscape {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }

    &__prediction {
      grid-area: 1 / 1 / 2 / 5;
    }

    &__recyclable {
      grid-area: 2 / 1 / 4 / 5;
      p {
        font-size: 4vw;
        text-align: center;
        width: 100%;

        @include sm-landscape {
          font-size: 4vw;
        }
      }
    }

    &__location {
      grid-area: 4 / 2 / 5 / 5;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      img {
        // height: 40px;
        margin: 0px;
      }
    }

    &__btn {
      &--bottomfirst {
        grid-area: 4 / 1 / 5 / 2;
      }

      &--bottomsecond {
        grid-area: 5 / 1 / 6 / 2;
      }

      &--bottomthird {
        grid-area: 5 / 2 / 6 / 5;
      }
    }

    &__map {
      grid-area: unset;
      grid-column-start: 5;
      grid-column-end: 30;
      grid-row-start: 1;
      grid-row-end: 6;

      @include sm-landscape {
        grid-column-end: 38;
      }
    }

    &.response--unknown {
      .response__recyclable {
        grid-area: 2 / 1 / 5 / 5;
        text-align: center;

        p {
          font-size: 16px;
        }
      }

      .response__btn--bottomfirst {
        grid-area: 5 / 1 / 5 / 2;
      }
    }
  }

  .help,
  .knows {
    flex-basis: unset;
    width: 80%;
    // align-self: flex-end;
    margin-top: 0px;
    // height: 1px;

    &__btn {
      width: 12%;
    }

    img {
      width: 7%;
      // margin-top: 20px;
    }

    p {
      width: calc(93% - 15px);
    }

    &--expandedtrue {
      height: calc(100% - 110px);
      overflow: auto;

      img {
        width: 7%;
        margin-top: 2.5vh;
        margin-left: unset;
      }
    }
  }
}
