@import "./base/_reset.scss";
@import "./base/_typography.scss";
@import "./base/_colours.scss";

// header

.logo {
  width: 40vw;
  padding: 10px;
}

// header

// camera

.cameracontainer {
    background-color: darken($color: $grey, $amount: 20%);
  &__capturedimage {
    height: calc(100vh - 40px);
    width: 100vw;
    object-fit: cover;
    opacity: 0.7;
    margin-top: -20px;
  }

  &__cameravideo {
    height: calc(100vh - 40px);
    width: 100vw;
    object-fit: cover;

    &--noheight {
      height: 0px;
    }
  }
}

// camera

// controlbar

.controls {
  background-color: $lightGreen;
  border-radius: 60px 0px 60px 60px;
  width: calc(93vw - 20px);
  padding: 10px 20px;
  height: 60px;
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  box-shadow: -1px -3px 7px rgba(0, 0, 0, 0.2);

  &.controls--expanded {
    height: 365px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    padding: 10px;
    flex-direction: column;
    justify-content: unset;
    transition: all 300ms cubic-bezier(0, 0, 0.7, 1.61);
  }

  &__capturebtn {
    @extend .reset-Button;
    background-color: $white;
    border-radius: 100%;
    height: 56px;
    width: 56px;
    box-shadow: 0px 2px 5px #000000;
    align-self: center;
  }
}

.response {
  &__prediction {
    background-color: $white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;

    h2 {
      @include font-brandon-grotesque(em(24), $grey, 500);
    }
  }
}

// controlbar



// variables

$primaryColour: #df948c;
$dashOffsetStart: 800;
$dashOffsetEnd: 0;

// animation mixins

@mixin keyframes($animationName) {
 @-webkit-keyframes #{$animationName} {
  @content;
 }
 @keyframes #{$animationName} {
  @content;
 }
}

@mixin animation(
 $name,
 $delay,
 $duration,
 $iteration,
 $ease,
 $fillmode: forwards
) {
 -webkit-animation: $name $duration $ease $delay $fillmode $iteration;
 animation: $name $duration $ease $delay $fillmode $iteration;
}

// animation mixins

@include keyframes(loading) {
 0% {
  transform: scale(1) rotateZ(0);
 }
 50% {
  transform: scale(1) rotateZ(180deg);
 }
 100% {
  transform: scale(1) rotateZ(360deg);
 }
}

@include keyframes(stroke-draw) {
 from {
  stroke-dashoffset: $dashOffsetStart;
  fill-opacity: 0;
 }
 65% {
  fill-opacity: 1;
 }

 to {
  stroke-dashoffset: $dashOffsetEnd;
  fill-opacity: 1;
 }
}

svg {
  position: absolute;
  top: 40%;
  height: 20vh;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;

 @include animation(
  loading,
  2.3s,
  3s,
  infinite,
  cubic-bezier(0.785, 0.135, 0.15, 0.86)
 );
}

path {
 stroke:$primaryColour;
 fill: $primaryColour;
 fill-opacity: 0;
 stroke-width: 0.5;
 stroke-dasharray: $dashOffsetStart;
 stroke-dashoffset: $dashOffsetStart;
	 @include animation(
  stroke-draw,
  0s,
  3s,
  infinite,
  ease-in-out
 );
}

#arrow-bottom path {
 animation-delay: 0.5s;
}

#arrow-side path {
 animation-delay: 1s;
}
